*{
  user-select: none;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header{
  top: 0;
  position: fixed;
  z-index: 1;
}

section{
  height: 100vh;
  width: 100vw;
  background: url(images/hero.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(.7);
}

h1, .botonReserva{
  opacity: 0;
  animation: aparecer 2s ease-in-out forwards;
}

.botonReserva{
    animation-delay: 2s;
}

.botonReserva:hover{
    transform: scale(1.3);
}

.nav-link{
  text-decoration: none;
  color: rgb(215, 215, 75);
  font-size: large;
}

.nav-link:hover,.nav-link:focus{
  color: rgba(160, 160, 69, 0.85);
}

#sobreNosotros .card{
  opacity: 0;
}

#sobreNosotros .card:hover{
  transform: scale(1.3);
}

#sobreNosotros .card:hover img{
  filter: brightness(0.25);
}

#sobreNosotros .card:hover h5{
  visibility: visible;
  color: aliceblue;
}

#sobreNosotros .card-img-top{
  filter: brightness(0.6);
}

#sobreNosotros .card-text{
  visibility: hidden;
}

@media (min-width:768px){
  .card-text{
    font-size: 0.6em;
  }
}

@media (min-width:1024px){
  .card-text{
    font-size: 0.9em;
  }
}

.deslizar{
  animation: aparecer 1s ease-in-out forwards;
}

#menuImage{
  width: 0;
  height: 0;
}

.agrandar{
  animation: agrandar 1s ease-in-out forwards;
}

fieldset{
  width: 100%;
}

#containerForm{
  width: 35vw;
  background-color: #252525;
  opacity: 0.80;
}

form{
  width: 28vw;
}

#nombreField{
  width: 100%;
}

#apellido{
  margin-left: 10%;
}

#nombre,#apellido{
  width: 45%;
}

#tituloForm{
  color: rgb(215, 215, 75);
}

#nombreField, #correoField, #consultaField, #botonConsulta{
  margin-top: 5%
}

.waves{
  animation: waves 1s ease-in-out forwards;
}

@keyframes tilde{
  100%{
      color: rgb(243, 243, 243);
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
}

@keyframes waves {
  0% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes agrandar{
  100%{
    width: 75vw;
    height: 75vh;
  }
}